<?php

$globals['path'] = '/usr/local/sitepad';
$globals['sn'] = 'SitePad Website Builder';
$globals['cookie_name'] = 'SitePadCookies4525';
$globals['gzip'] = 1;
$globals['language'] = 'english';
$globals['soft_email'] = 'support@yourdomain.com';
$globals['from_email'] = 'support@yourdomain.com';
$globals['theme_folder'] = 'default';
$globals['timezone'] = 2;
$globals['mail'] = 1;
$globals['mail_server'] = '';
$globals['mail_port'] = '';
$globals['mail_user'] = '';
$globals['mail_pass'] = '';
$globals['off'] = 0;
$globals['off_subject'] = '';
$globals['off_message'] = '';
$globals['update'] = 1;
$globals['email_update'] = 1;
$globals['cron_time'] = '51 9 * * *';
$globals['is_vps'] = '';
$globals['eu_news_off'] = '';
$globals['eu_email_off'] = '';
$globals['php_bin'] = '/usr/local/cpanel/3rdparty/bin/php';
$globals['ephp_bin'] = '';
$globals['off_panel_link'] = '';
$globals['panel_hf'] = '';
$globals['off_restore_mail'] = '';
$globals['show_top_themes'] = 'SitePad Website Builder - Themes';
$globals['host_sm'] = 'builder.{{ ansible_fqdn}}';
$globals['sm_brand'] = 'SitePad';
$globals['sm_brand_url'] = 'https://yourdomain.com';
$globals['sm_brand_editor'] = 'SitePad';
$globals['sm_brand_demos'] = 'demos.{{ ansible_fqdn}}';
$globals['no_demos'] = 0;
$globals['logo_url'] = '';
$globals['ftp_host'] = '';
$globals['no_recent_themes'] = 0;
$globals['group_order'] = '';
$globals['ftp_port'] = 0;
